[Unit]
Description=Loki log aggregation service
After=network.target

[Service]
Type=simple
User={{ ansible_user_id }}
Group={{ ansible_user_id }}
ExecStart=/usr/local/bin/loki -config.file loki-gcs.yml
WorkingDirectory=/usr/local/bin
Restart=always
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target