[Unit]
Description=Prometheus Metric Collection Service
After=network.target

[Service]
Type=simple
User={{ ansible_user_id }}
Group={{ ansible_user_id }}
ExecStart=/usr/local/bin/prometheus --config.file prometheus.yml --web.external-url=/prometheus/
WorkingDirectory=/usr/local/bin
Restart=always
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target